body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.container {
  font-size: 20px;
  background-color: white;
  display: grid;
  grid-template-areas: 
  "header header"
  "aside-left aside-right"
  "aside-left aside-right"
  "footer footer";
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  margin-top: 60px;
  min-width: 300px;
}

.titulo {
  color: #3C56E8;
}

.header {
  background-color: rgb(226, 226, 226);
  font-size: 25px;
  grid-area: header;
  padding: 25px;
  position: fixed;
  top: 0px;
  width: 100%;
  }


.titulo {
  color: #3C56E8;
  font-size: 60px;
}

.aside-left {
  background-color: white;
  height: 90vh;
  width: 50vw;
}

.aside-right {
  background-color: white;
  padding-top: 160px;
  width: 50vw;
}


.footer {
  font-size: 15px;
  background-color: rgb(71, 71, 71);
  border: none;
  color: white;
  grid-area: footer;
  padding: 40px;
  text-align: center;
  width: 100vw;
}

.boton-learn-more {
  border: none;
  background-color: #3C56E8;
  color: white;
  padding: 20px;
  font-size: 18px;
}

.uvas {
  height: 280px;
  left: 400px;
  bottom: 100px;
  position: absolute;
}

.vinedos {
  width: 600px;
  margin-left: 200px;
  margin-top: 50px;
}